<div class="container">
  <p id="notice"><%= notice %></p>
    <h1 class="h1-properties mb-3">Strikers</h1>
      <% @strikers.each do |striker| %>
      <div class="no-click">
        <%= link_to striker_path(striker) do %>
          <div class="striker-cards" id="striker_clickable">
            <%= cl_image_tag striker.photos.first.key, width: 125, height: 125, crop: :fill, class: "image-border" %>
            <div class="striker-image-name-description">
              <div class="ms-3 war-tag">
                <h3><%= striker.war_tag %></h3>
              </div>
              <div class="striker-description-show">
                <p>Description: <%= striker.description %></p>
              </div>
            </div>
            <div class="price-right">
              <p class="">Rate: <%= striker.price %> $</p>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
