<div class="container">
  <h1 class="title" >Strikers</h1>
  <div class="cards-strikers">
    <% @strikers.each do |striker| %>
      <%= link_to striker_path(striker) do %>
        <div class="card-striker">
          <div class="card-image">
              <%= cl_image_tag(striker.photos.first.key, class: "card-image", width: 100, height: 100, crop: :fill) %>
          </div>
          <div class="card-content">
            <div class="card-content-text">
              <b><%= striker.war_tag %></b>
              <%= striker.price %>
            </div>
            <div class="card-content-description">
              <%= striker.description.truncate(42, separator: ' ') %>
              <br>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
