<p id="notice"><%= notice %></p>

<h1>Strikers</h1>


<div class="container">
  <div class="cards-strikers">
    <% @strikers.each do |striker| %>
      <div class="card-striker">
        <div class="card-image">
          <%= image_tag("communist.png", class: "card-image") %>
        </div>
        <div class="card-content">
          <div class="card-content-text">
          <b><%= striker.war_tag %></b>
          <%= striker.price %>
          </div>
          <div class="card-content-description">
          <%= striker.description.truncate(42, separator: ' ') %>
          <br>
          <%= link_to 'Show', striker %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
