<div class="container w-100" style="background-color:white">
  <div class="row">
    <div class="col-6 offset-3 profile-content">
      <% @striker.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill %>
      <% end %>
      <div class="striker-description">
      <h1><%= @striker.war_tag %></h1>
      <p><%= @striker.description %></p>
      <h2>Daily Rate   <%= @striker.price %>$</h2>
      </div>
    </div>
    <div class="button-flex">
      <%= link_to 'Back', strikers_path, class: "back-button submit-btn submit"%>
      <%= link_to 'Book Now', new_striker_booking_path(@striker), class: "book-now-button submit-btn submit"%>
    </div>
  </div>
</div>
