<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Show Striker</h1>

      <br><br>

      <h2>War_tag: <%= @striker.war_tag %></h2>
      <p>Description: <%= @striker.description %></p>
      <p>Price: <%= @striker.price %></p>
      <% @striker.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill %>
      <% end %>


      <%= link_to 'Back', strikers_path %>
    </div>
  </div>
</div>
