<div class="booking-head">
  <h1><%= current_user.username %>'s bookings</h1>
</div>
<div class="booking-list">
  <% current_user.bookings.each do |booking| %>
    <div class="booking-details">
      <h2>Your strike dates:</h2>
      <li> You'll start striking on: <%= booking.start_date %> </li>
      <li> Your strike will end on: <%= booking.end_date %> </li>
      <li> You will protest for: <%= booking.duration %> day(s) </li>
      <h2>Your war effort will cost you:</h2>
      <li> <%= booking.striker.war_tag %>'s price per day: <%= booking.striker.price %> $ </li>
      <li> Total price: (<%= booking.striker.price %> $ * <%= booking.duration %> days) = <%= booking.price %> $</i></li>
      <h2>You will be striking with:</h2>
      <li><%= booking.striker.war_tag %></li>
    </div>
    <div class="booking-image">
       <%= cl_image_tag booking.striker.photos.first, height: 200, width: 200, crop: :fill %>
    </div>
    <hr>
  <% end %>
</div>
